.booking {
    width: 100%;
    padding: 0;
    background: var(--background-item);
    border-radius: 25px;

    .header {
        min-height: 8vh;
    }

    .booking-overlap {
        max-height: 58vh;
        min-height: 58vh;
        margin-bottom: 10px;
        overflow: hidden;
        overflow-y: scroll;
        border-radius: 25px;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: transparent;
        }
    }
}
