.booking {
   position: relative;
   width: 100%;
   border-radius: 20px;

   .booking-actions {
      min-height: 7vh;
      background: var(--background-box);
      border-radius: 25px 25px 0 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding: 0 20px;

      .header {
         flex-basis: 35%;

         h3 {
            font-size: 1.35rem;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0;
         }
      }

      .create-booking {
         display: flex;
         flex-direction: column;
         justify-content: center;
         cursor: pointer;

         .plus {
            display: flex;
            padding: 15px;
            border-radius: 50%;
            background: var(--background);
            border: none;
            outline: none;
            color: var(--button-action);
            transition: 1s;

            &:hover {
               background: var(--background-box);
               border: 1px solid var(--border-message);
            }
         }
      }
   }

   .booking-overlap {
      max-height: 63vh;
      margin-bottom: 10px;
      overflow: hidden;
      overflow-y: scroll;
      border-radius: 0 0 25px 25px;
      box-shadow: 0 25px 40px -12px rgba(0, 0, 0, 0.2);

      &::-webkit-scrollbar {
         width: 0;
         background: transparent;
      }

      &::-webkit-scrollbar-thumb {
         background: transparent;
      }
   }
}
