.calendar-container {
    display: flex;
    background: var(--background-item);
    border-radius: 20px;
    height: 45vh;
    box-shadow: 0 15px 20px -12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
    }

    .calendar {
        padding: 0 10px;

        .react-calendar {
            width: 100%;
            border: none;
            border-radius: 20px;
            background: var(--background-item);

            .react-calendar__navigation__label__labelText {
                text-transform: capitalize;
            }

            .react-calendar__tile {
                &:hover {
                    border-radius: 5px;
                }
            }

            .react-calendar__tile--active,
            .react-calendar__tile--now {
                border-radius: 5px;
            }
        }
    }
}
