.newest-perfume-item {
    background: var(--background-item);
    display: flex;
    flex-wrap: nowrap;
    min-height: 115px;
    align-items: center;
    margin: 1px 0;

    .perfume-image {
        cursor: pointer;
        min-width: 100px;
        min-height: 86px;
    }

    .perfume-info {
        display: flex;
        flex-direction: column;

        .name {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: left;
            color: var(--product-name);
            margin-bottom: 20px;
        }

        p {
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 15px;
            line-height: 1;
            text-align: left;
            color: var(--product-description);
        }
    }
}
