.header {
    min-height: 55px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background: var(--background-item);
    border-radius: 20px 20px 0 0;
    margin-bottom: 1px;
    align-items: center;

    .title {
        margin-left: 33px;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            margin: auto 0;
            font-size: 18px;
            color: var(--product-name);
        }
    }

    .action {
        width: 40%;
        display: flex;
        height: 100%;

        svg {
            cursor: pointer;
            font-weight: 700;
            display: block;
            margin: auto;
            margin-right: 20px;
        }
    }
}
