input {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    background: var(--background-box);
    color: var(--product-description);
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 400;
}
