.message {
    margin-top: 10px;
}

.form-input {
    label {
        width: 100%;
    }

    .text {
        color: var(--form-text);
        margin: 5px 0;
    }

    input,
    textarea {
        width: 100%;
        font-size: 1.025rem;
        color: var(--form-text);
        padding-left: 10px;
        border-radius: 15px;
    }

    input:focus,
    textarea:focus {
        outline-color: none;
        border-radius: 15px;
    }

    input {
        height: 2em;
    }
}
