* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.container-fluid {
    background: #f0f2f5;
}

:root {
    --background: #f0f2f5;
    --background-item: #ffffff;
    --product-name: #282828;
    --product-description-date: #626465;
    --form-text: #000000;
    --button-background: #0a68cc;
}
