@font-face {
    font-family: "MazzardH";
    src: local("MazzardH-Bold") url(./fonts/MazzardH-Bold.otf)
        format("truetype");
}

* {
    box-sizing: border-box;
    font-family: "MazzardH", sans-serif;
    font-weight: 500;
}

.container-fluid {
    background: #f0f2f5;
    max-height: 100vh;
    overflow: hidden;
}

:root {
    --background: #f0f2f5;
    --background-box: #f0f2f5;
    --background-notification-icon: #fafafa;
    --background-item: #ffffff;
    --product-name: #282828;
    --product-description: #626465;
    --form-text: #000000;
    --button-background: #0a68cc;
    --finished-status: #315bef;
    --performing-status: #00d63c;
    --confirming-status: #01c394;
    --cancelled-status: #e50000;
    --header-action: #ff0644;
    --created-by: #0038fc;
    --send-button: #315bef;
    --chatbox-header: #171929;
    --notification-icon: #6d6d6d;
}
