.banner {
    max-height: 30vh;
    border-radius: 20px;
    margin-bottom: 2vh;

    .slider-control-centerleft,
    .slider-control-centerright {
        visibility: hidden;
    }

    .slider-frame {
        border-radius: 20px;
    }
}
