.banner {
    max-height: 30vh;
    border-radius: 15px;

    .slider-control-centerleft,
    .slider-control-centerright {
        visibility: hidden;
    }

    .slider-frame {
        border-radius: 15px;
    }
}
