.chat-message {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 5px 0;

   p {
      max-width: 75%;
      padding: 8px 15px;
      border-radius: 20px;
      border: 1px solid var(--border-message);
      margin: 0;
      color: var(--product-description);
      font-size: 17px;
      margin: 2px 0;
   }

   &.message-me {
      align-items: flex-end;

      P {
         text-align: right;
      }
   }
}
